In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df=pd.read_csv('CreditRisk.csv')

In [3]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            981 non-null    object
 1   Gender             957 non-null    object
 2   Married            978 non-null    object
 3   Dependents         956 non-null    float64
 4   Education          981 non-null    object
 5   Self_Employed      926 non-null    object
 6   ApplicantIncome    981 non-null    int64
 7   CoapplicantIncome  981 non-null    float64
 8   LoanAmount         954 non-null    float64
 9   Loan_Amount_Term   961 non-null    float64
 10  Credit_History     902 non-null    float64
 11  Property_Area      981 non-null    object
 12  Loan_Status        981 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 99.8+ KB

In [5]:
df.describe()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,956.000000,981.000000,981.000000,954.000000,961.000000,902.000000
mean,0.881799,5179.795107,1601.916330,142.511530,342.201873,0.835920
std,1.255623,5695.104533,2718.772806,77.421743,65.100602,0.370553
min,0.000000,0.000000,0.000000,9.000000,6.000000,0.000000
25%,0.000000,2875.000000,0.000000,100.000000,360.000000,1.000000
50%,0.000000,3800.000000,1110.000000,126.000000,360.000000,1.000000
75%,2.000000,5516.000000,2365.000000,162.000000,360.000000,1.000000
max,4.000000,81000.000000,41667.000000,700.000000,480.000000,1.000000

# Data Preprocessing

In [6]:
df.isna().sum()[df.isna().sum()>0]

Gender              24
Married              3
Dependents          25
Self_Employed       55
LoanAmount          27
Loan_Amount_Term    20
Credit_History      79
dtype: int64

In [7]:
df.Gender.fillna('Male' , inplace = True)
df.Married.fillna('Yes'  ,inplace = True)
df.Dependents.fillna(0.0 , inplace = True)
df.Self_Employed.fillna('No' , inplace= True)
df.LoanAmount.fillna(df.LoanAmount.mean() , inplace = True)
df.Loan_Amount_Term .fillna(df.Loan_Amount_Term .mean() , inplace = True)
df.Credit_History.fillna(0.0,inplace=True)

In [8]:
df.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [9]:
df.Dependents.value_counts()

0.0    570
1.0    160
2.0    160
4.0     90
3.0      1
Name: Dependents, dtype: int64

In [10]:
df.Credit_History.value_counts()

1.0    754
0.0    227
Name: Credit_History, dtype: int64

In [11]:
df.Loan_Status.value_counts()

Y    712
N    269
Name: Loan_Status, dtype: int64

In [12]:
df.select_dtypes(include=['object']).columns

Index(['Loan_ID', 'Gender', 'Married', 'Education', 'Self_Employed',
       'Property_Area', 'Loan_Status'],
      dtype='object')

In [13]:
df.Gender.value_counts()

Male      799
Female    182
Name: Gender, dtype: int64

In [14]:
df.Married.value_counts()

Yes    634
No     347
Name: Married, dtype: int64

In [15]:
df.Education.value_counts()

Graduate        763
Not Graduate    218
Name: Education, dtype: int64

In [16]:
df.Self_Employed.value_counts()

No     862
Yes    119
Name: Self_Employed, dtype: int64

In [17]:
df.Property_Area.value_counts()

Semiurban    349
Urban        342
Rural        290
Name: Property_Area, dtype: int64

In [44]:
df.Loan_Status.value_counts()

1    712
0    269
Name: Loan_Status, dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df[df.select_dtypes(include=['object']).columns]=df[df.select_dtypes(include=['object']).columns].apply(le.fit_transform)

In [19]:
df.select_dtypes(include=['object']).columns

Index([], dtype='object')

In [20]:
df.Gender.value_counts()

1    799
0    182
Name: Gender, dtype: int64

In [21]:
df.Married.value_counts()

1    634
0    347
Name: Married, dtype: int64

In [22]:
df.Education.value_counts()

0    763
1    218
Name: Education, dtype: int64

In [23]:
df.Self_Employed.value_counts()

0    862
1    119
Name: Self_Employed, dtype: int64

In [24]:
df.Property_Area.value_counts()

1    349
2    342
0    290
Name: Property_Area, dtype: int64

# Defining X and Y

In [25]:
x=df.drop(['Loan_ID','Loan_Status'],axis=1)

In [26]:
x.shape

(981, 11)

In [27]:
y=df['Loan_Status']

In [28]:
y.shape

(981,)

In [29]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=2529)

In [30]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((784, 11), (197, 11), (784,), (197,))

In [31]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [32]:
x_train=sc.fit_transform(x_train)

In [33]:
x_test=sc.fit_transform(x_test)

In [34]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier()

In [35]:
rfc.fit(x_train,y_train)

RandomForestClassifier()

In [36]:
y_pred_rf=rfc.predict(x_test)

In [37]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [38]:
print(classification_report(y_test,y_pred_rf))

              precision    recall  f1-score   support

           0       0.69      0.57      0.63        47
           1       0.87      0.92      0.90       150

    accuracy                           0.84       197
   macro avg       0.78      0.75      0.76       197
weighted avg       0.83      0.84      0.83       197

In [39]:
from sklearn.ensemble import ExtraTreesClassifier
Exc=ExtraTreesClassifier(max_features=3,min_samples_split=4,n_estimators=512,n_jobs=1,random_state=2529,warm_start=True)

In [40]:
Exc.fit(x_train,y_train)

ExtraTreesClassifier(max_features=3, min_samples_split=4, n_estimators=512,
                     n_jobs=1, random_state=2529, warm_start=True)

In [41]:
y_pred=Exc.predict(x_test)

In [42]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.68      0.55      0.61        47
           1       0.87      0.92      0.89       150

    accuracy                           0.83       197
   macro avg       0.78      0.74      0.75       197
weighted avg       0.82      0.83      0.83       197

In [43]:
import pickle
filename='credit_risk.sav'
pickle.dump(Exc,open(filename,'wb'))
loaded_model=pickle.load(open('credit_risk.sav','rb'))